<nav class="main-nav">
  <div class="container">
    <ul class="list-no-style nav-list-h">
      <li>
        <a href="/product">Products</a>
      </li>
      <li>
        <a href="/category">Categories</a>
      </li>
      <li>
        <a href="/manufacturer">Manufacturers</a>
      </li>
      <li>
        <% if (!isLoggedIn) { %>
          <a href="/account/login">Login</a>
        <% } else { %>
          <a href="/account/logout">Logout</a>
        <% } %>
      </li>
    </ul>
  </div>
</nav>