<nav>
  <ul>
    <li>
      <a href="/product">Products</a>
    </li>
    <li>
      <a href="/category">Categories</a>
    </li>
    <li>
      <a href="/manufacturer">Manufacturers</a>
    </li>
  </ul>
</nav>