:root {
  font-family: 'Open Sans', sans-serif;
  --main-accent-color: #3344aa;
  --main-text-color: #333333;
  --secondary-text-color: #666666;
  --light-text-color: #eeeeee;

  color: var(--main-text-color);
}

// DEBUG
* {
  // outline: 1px dotted red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Monserrat', sans-serif;
  line-height: 1em;
  margin-bottom: 0.5em;
}

.list-no-style {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav-list-h {
  display: flex;
  justify-content: space-around;
}

.main-nav {
  background-color: var(--main-accent-color);
  padding: 1rem 0;

  position: sticky;
  top: 0px;
  z-index: 1;

  a {
    text-decoration: none;
    font-weight: 700;

    color: var(--light-text-color);

    &:hover {
      filter: brightness(0.8);
    }
  }
}

form {
  display: grid;
  max-width: 400px;

  gap: 0.5rem;

  label {
    font-weight: 700;
    color: var(--secondary-text-color);
  }
}

input[type="file"],
input[type="file"] * {
  max-width: 300px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: center;
}

.form-row-h {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

textarea {
  resize: vertical;
}

.section-top-padding {
  padding-top: 1rem;
}

.section-bottom-padding {
  padding-bottom: 1rem;
}

.settings-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  max-width: 350px;

  button {
    width: 100%;
  }
}

.clear-both {
  clear: both;
}

body {
  background-color: #ededed;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;

  .grid-product,
  .grid-category {
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 5px 5px 5px 5px #66666610;
    background-color: #f1f1f1;
    outline: 5px solid #ffffff00;

    transition: filter 0.2s;
    transition: outline 0.2s;
    
    &:hover {
      filter: brightness(0.95);
      outline: 5px solid #dddddd55;
    }

    a {
      text-decoration: none;
      color: var(--secondary-text-color);
    }

    img {
      height: 350px;
      width: 100%;
      object-fit: contain;
    }
  }
}

.product {
  color: var(--main-text-color);

  h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-text-color);
  }
}

.product-page__header-bar {
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 2rem;
}

.grid--center-align {
  align-items: center;
}

.product-grid-item_header {
  h1, h2, h3, h4, h5, h6 {
    margin: 0.3em 0;
  }
}

.manufacturer-header {
  img {
    padding: 1rem;
    width: 350px;
    float: right;
  }
}

.image-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  img {
    margin-bottom: 1rem;
  }
}

@media(max-width: 500px) {
  .main-nav ul {
    flex-direction: column;
    align-items: center;
  }
}