<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>
    <div class="container section-top-padding section-bottom-padding">
      <h1>Login</h1>
      <form action="/account/login" method="post">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required>
        <% if (locals.errorMessage) { %>
          <div class="error">
            <%= errorMessage %>
          </div>
          <% } %>
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>