<label for="name">Name: </label>
<input type="text" name="name" id="name" required value="<%= locals.category != null ? category.name : '' %>">
<label for="img">Image: </label>
<input type="file" name="img" id="img">
