<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div>
      <h1>Edit category</h1>
      <form action="/category/<%= category.id %>/edit" method="post" enctype="multipart/form-data">
        <%- include('./categoryFormFields.ejs') %>
          <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
