<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <form action="/category/<%= category.id %>/edit" method="post">
      <%- include('./categoryFormFields.ejs') %>
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
