<label for="name">Name: </label>
<input type="text" name="name" id="name" required value="<%= locals.manufacturer != null ? manufacturer.name : '' %>">
<label for="description">Description: </label>
<textarea name="description" id="description" rows="10"><%= locals.manufacturer != null ? manufacturer.description : '' %></textarea>
<label for="img">Logo: </label>
<% if (locals.manufacturer != null) { %>
  <img src="/<%= manufacturer.img_url %>" alt="">
<% }; %>
<input type="file" name="img" id="img">
