<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container section-top-padding section-bottom-padding">
      <h1>Edit product</h1>
      <form action="/product/<%= product.id %>/edit" method="post" enctype="multipart/form-data">
        <%- include('./productFormFields.ejs') %>
          <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
