<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <form action="/product/new" method="post" enctype="multipart/form-data">
      <%- include('./productFormFields.ejs') %>
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
